In [4]:
from __future__ import print_function, division

import marriage

In [9]:
df = marriage.ReadFemResp2015()
len(df)

5699

In [10]:
df.evrmarry.value_counts()

False    3298
True     2401
Name: evrmarry, dtype: int64

In [11]:
len(df[(df.cmbirth >= 380) & (df.cmbirth <= 1340)])

5699

In [12]:
len(df[(df.cmmarrhx >= 380) & (df.cmmarrhx <= 1340)])

2080

In [13]:
len(df[(df.cmmarrhx.isnull())])

3309

In [14]:
df.cmintvw.value_counts().sort_index()

1365     84
1366    293
1367    255
1368    127
1369    210
1370    221
1371    214
1372    238
1373    324
1374    195
1375    302
1376    316
1377    168
1378    265
1379    246
1380    120
1381    242
1382    271
1383    225
1384    253
1385    308
1386    227
1387    280
1388    262
1389     53
Name: cmintvw, dtype: int64

In [15]:
df.finalwgt.value_counts().sort_index()

1859.105000     86
1878.981422      1
1882.961275      1
1887.764078      1
1889.828073      2
1897.387434      2
1903.529184      1
1907.880114      1
1911.143350      1
1916.896431      1
1934.568148      1
1942.588303      1
1944.613868      1
1984.107554      1
2058.370133      1
2061.847139      1
2064.493511      3
2072.031367      1
2077.439094      1
2078.706957      1
2083.441682      1
2096.728832      1
2102.818875      1
2112.210276      2
2125.982152      1
2135.169863      1
2135.602308      1
2138.384224      1
2144.767826      1
2145.970180      1
                ..
64074.185622     1
64264.849227     1
64660.683237     1
64698.356952     1
64757.149920     1
64918.031476     1
65240.598924     1
65481.643970     1
65962.667512     1
66421.061175     1
67202.597133     1
67269.864679     1
67345.883074     1
67660.590312     1
67728.089664     1
68908.112704     1
69404.648433     1
70079.886878     1
70086.498720     1
70520.000663     1
71484.386710     1
72082.510371     1
72192.370127     1
72690.202455     1
73603.606662     1
73806.673219     1
73897.970440     1
75042.552798     1
75340.755558     1
75399.410000    44
Name: finalwgt, Length: 5431, dtype: int64